---
import NextjsIcon from "./icons/Nextjs.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import AstroIcon from "./icons/Astro.astro";
import PhpIcon from "./icons/Php.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import DjangoIcon from "./icons/Django.astro";
import ReactIcon from "./icons/React.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";

const TAGS = {
  NEXT: {
  name: "Next.js",
  class: "bg-neutral-800 text-white",
  icon: NextjsIcon,
  },
  TAILWIND: {
  name: "Tailwind",
  class: "bg-[#103961] text-white",
  icon: TailwindIcon,
  },
  ASTRO: {
  name: "Astro",
  class: "bg-[#1a1a1a] text-white",
  icon: AstroIcon,
  },
  PHP: {
  name: "PHP",
  class: "bg-[#4F5B93] text-white",
  icon: PhpIcon,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#413356] text-white",
    icon: BootstrapIcon,
  },
  JAVASCRIPT: {
  name: "JavaScript",
  class: "bg-[#F7DF1E] text-black",
  icon: JavaScriptIcon,
  },
  DJANGO: {
  name: "Django",
  class: "bg-[#1a1a1a] text-white",
  icon: DjangoIcon,
  },
  REACT: {
    name: "React",  
    class: "bg-[#fff] text-black",
    icon: ReactIcon,
  }

}
const PROJECTS = [
  {
    tiltle: "CoctelApp",
    description:
      "CoctelApp es una plataforma de coctelería a domicilio que conecta a bares y clientes. Los bares pueden subir productos, ofrecer servicios de bartenders para eventos y gestionar sus perfiles. La app lleva cócteles premium y servicios personalizados directamente a la puerta del cliente. Creado con PHP, JavaScript y Bootstrap",
    link: "#",
    github: "#",
    image: "/public/Projects/repo-coctelapp.jpg",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.ASTRO, TAGS.PHP, TAGS.JAVASCRIPT, TAGS.DJANGO, TAGS.REACT, TAGS.BOOTSTRAP],
  },
];
---
{
  PROJECTS.map(({ tiltle, description, link, github, image, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-customAmarillo mb-2">{tiltle}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row mb-3">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4"/>
                {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/30"
        src={image}
        alt={`Captura de pantalla de ${image}`}
      />
    </article>
  ))
}
