---
import NextjsIcon from "./icons/Nextjs.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import AstroIcon from "./icons/Astro.astro";
import PhpIcon from "./icons/Php.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import DjangoIcon from "./icons/Django.astro";
import ReactIcon from "./icons/React.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import GitHubIcon from "./icons/GitHub.astro";
import EyeIcon from "./icons/Eye.astro";
import LockIcon from "./icons/Lock.astro";
import MysqlIcon from "./icons/Mysql.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";

interface Props {
  limit?: number;
}

const { limit } = Astro.props;

const TAGS = {
  NEXT: { name: "Next.js", class: "bg-neutral-800 text-white", icon: NextjsIcon },
  TAILWIND: { name: "Tailwind", class: "bg-[#103961] text-white", icon: TailwindIcon },
  ASTRO: { name: "Astro", class: "bg-[#1a1a1a] text-white", icon: AstroIcon },
  PHP: { name: "PHP", class: "bg-[#4F5B93] text-white", icon: PhpIcon },
  BOOTSTRAP: { name: "Bootstrap", class: "bg-[#413356] text-white", icon: BootstrapIcon },
  JAVASCRIPT: { name: "JavaScript", class: "bg-[#F7DF1E] text-black", icon: JavaScriptIcon },
  DJANGO: { name: "Django", class: "bg-[#1a1a1a] text-white", icon: DjangoIcon },
  REACT: { name: "React", class: "bg-[#fff] text-black", icon: ReactIcon },
  MYSQL: { name: "MySQL", class: "bg-[#00758F] text-white", icon: MysqlIcon },
  TYPESCRIPT: { name: "TypeScript", class: "bg-[#007ACC] text-white", icon: TypeScriptIcon },
};

const PROJECTS = [
  {
    title: "NeoAxis Technologies",
    description:
      "NeoAxis Technologies es una empresa de desarrollo de software a medida que impulsa la transformaci贸n digital de negocios. Se especializa en soluciones innovadoras centradas en la calidad y la eficiencia Ofrece una amplia gama de servicios incluyendo desarrollo web y movil, administraci贸n de servicios cloud, consultor铆a tecnol贸gica que proporcionan soluciones personalizadas que optimizan procesos mejoran la experiencia del usuario y fomentan el crecimiento sostenible.",
    link: "https://www.neoaxistech.com/",
    github: "",
    image: "Projects/NeoAxis.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.TYPESCRIPT],
  },
  {
    title: "CoctelApp",
    description:
      "CoctelApp es una plataforma de cocteler铆a a domicilio que conecta a bares y clientes, llevando c贸cteles y servicios personalizados directamente al hogar. Los bares pueden gestionar los perfiles de sus empleados y ofrecer productos.",
    link: "",
    github: "",
    image: "Projects/CoctelAppBG.png",
    tags: [TAGS.PHP, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP, TAGS.MYSQL],
  },
    {
    title: "Best Farms",
    description:
      "Best Farms es un software de gesti贸n agr铆cola que optimiza fincas con mapeo de cultivos y trazabilidad total de la producci贸n, desde el registro detallado (boncheo/mesas) hasta el control de remisiones de despacho. Su arquitectura centraliza la operaci贸n y log铆stica. Cuenta con un robusto sistema de seguridad que incluye autenticaci贸n de usuarios, encriptaci贸n de credenciales y gesti贸n jer谩rquica de permisos.",
    link: "",
    github: "",
    image: "Projects/BestFarmsBG.png",
    tags: [TAGS.PHP, TAGS.JAVASCRIPT, TAGS.TAILWIND, TAGS.MYSQL],
  },
   {
    title: "AireMax",
    description:
      "AireMax es la parte visual de un sistema de ecommerce de venta de productos de aires acondicionados, portables y industriales. Es un trabajo front-end realizado con React, TailwindCSS y TypeScript.",
    link: "https://airemax.vercel.app/",
    github: "",
    image: "Projects/Airemaxbg.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.TYPESCRIPT],
  },
  {
    title: "RocketFlow",
    description:
      "RocketFlow es una aplicaci贸n moderna de gesti贸n de tareas y notas, dise帽ada para ofrecer una experiencia fluida, visual y eficiente. Inspirada en la idea de que cada tarea impulsa tus metas hacia el despegue, RocketFlow combina dise帽o minimalista con herramientas potentes de organizaci贸n personal y profesional.",
    link: "https://task-flow-eta-six.vercel.app/",
    github: "https://github.com/DilanLoz/Task-Flow.git",
    image: "Projects/RocketFlow.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.TYPESCRIPT],
  },
];

//  AQU SE APLICA EL LIMIT
const visibleProjects = limit
  ? PROJECTS.slice(0, limit)
  : PROJECTS;
---

{
  visibleProjects.map(({ title, description, link, github, image, tags }) => (
    <article class="flex flex-col lg:flex-row items-start gap-8 mb-16">
      <div class="relative w-full lg:w-[400px] h-[250px] overflow-hidden rounded shadow-2xl shadow-white/30">
        <img
          class="w-full h-full object-cover transition-transform duration-300 hover:scale-[1.35]"
          src={image}
          alt={`Captura de ${title}`}
        />

        <div class="absolute bottom-4 right-4 flex gap-x-2">
          {github ? (
            <a
              href={github}
              class="rounded-xl border border-white/10 flex items-center gap-2 py-1 px-3 text-xs bg-black/40 text-white hover:bg-black/70 transition"
              target="_blank"
            >
              <GitHubIcon class="w-4 h-4" /> C贸digo
            </a>
          ) : (
            <span class="rounded-xl border border-white/10 flex items-center gap-2 py-1 px-3 text-xs bg-black/30 text-gray-300">
              <LockIcon class="w-4 h-4" /> C贸digo privado
            </span>
          )}

          {link && (
            <a
              href={link}
              class="rounded-xl border border-white/10 flex items-center gap-2 py-1 px-3 text-xs bg-black/40 text-white hover:bg-black/70 transition"
              target="_blank"
            >
              <EyeIcon class="w-4 h-4" /> Observar
            </a>
          )}
        </div>
      </div>

      <div class="flex-1 flex flex-col gap-y-4">
        <span class="text-2xl font-semibold text-sky-500">{title}</span>
        <p class="text-md">{description}</p>

        <ul class="flex gap-3 flex-wrap">
          {tags.map((tag) => (
            <li>
              <span class={`flex gap-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="w-4 h-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
  ))
}
