---
import NextjsIcon from "./icons/Nextjs.astro";
import TailwindIcon from "./icons/Tailwind.astro";

const TAGS = {
  NEXT: {
  name: "Next.js",
  class: "bg-neutral-800 text-white",
  icon: NextjsIcon,
  },
  TAILWIND: {
  name: "Tailwind",
  class: "bg-[#103961] text-white",
  icon: TailwindIcon,
  },

}

  

const PROJECTS = [
  {
    tiltle: "CoctelApp",
    description:
      "CoctelApp es una plataforma de coctelería a domicilio que conecta a bares y clientes. Los bares pueden subir productos, ofrecer servicios de bartenders para eventos y gestionar sus perfiles. La app lleva cócteles premium y servicios personalizados directamente a la puerta del cliente. Creado con PHP, JavaScript y Bootstrap",
    link: "#",
    github: "#",
    image: "/public/Projects/repo-coctelapp.jpg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ tiltle, description, link, github, image, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-customAmarillo mb-2">{tiltle}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row mb-3">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4"/>
                {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/30"
        src={image}
        alt={`Captura de pantalla de ${image}`}
      />
    </article>
  ))
}
